<!DOCTYPE html>
<html>
<head>
    <title>Dosya Dönüştürme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Dosya PDF'ye Dönüştürme</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Dosya:</label>
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Dönüştür</button>
    </form>
</div>
</body>
</html>
